*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

h1{
    margin:10px;
    font-size: 50px;
    background-color: rgb(27, 53, 139);
}

body{
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('add_question_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    line-height: 1.8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    margin-top: 70px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.question, .answer{
display: flex;
flex-direction: column;
margin-bottom: 50px;
}

label{
    font-size: 20px;
    color: white;
    text-align: left;
    margin-bottom: 40px;
    font-weight: 100;
    
}

input[type="text"]{
    height: 35px;
    outline: none;
    background:none;
    border: none;
    border-left: 1px solid azure;
    border-bottom: 1px solid azure;
    font-size: 20px;
    color: white;
    padding: 15px;
}
.sub{
    padding: 40px;
}
input[type="submit"]{
    background: none;
    border: none;
    font-size: 20px;
    border-right: 1px solid azure;
    border-bottom: 1px solid azure;
    color: rgba(182, 8, 235, 0.797);
    padding: 10px 20px;
    cursor: pointer;
}
input[type="submit"]:hover{
    color:white;
    transform: scale(1.1);
}