<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/static/add.css">
  <title>Add Question</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
</head>
<body>
  <h1 class="head">Add new Question</h1>

  <form method="POST">
    <div class="question">
        <label for="question">Question</label>
        <input type="text" name="question" required>
    </div>

    <div class="answer">
        <label for="answer">Answer</label>
        <input type="text" name="answer" required>
    </div>
     
    <div class="sub"></div>
    <input type="submit" value="Create Question">
  </form>
</body>
</html>