<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Remove Question</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="/static/remove.css">
</head>
<body>
  <h1>Remove Question</h1>

  <div class="pair">
    <div class="question">
    <p>{{question.question}}
</div>

<div class="answer">
    <p>{{question.answer}}
</div>
</div>

<div class="confirmation">
    <p>Are you Sure?</p>

    <form method="POST">
        <button type="submit">Yes</button>

        <a href="{{url_for('welcome')}}"> No</a>

    </form>
</body>
</html>